body {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
}

img {
    width: 100%;
}

footer {
    background-color: $very-dark-cyan;
    color: $very-pale-blue;

    display: grid;
    grid-template-columns: 86%;
    justify-content: center;

    position: relative;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 52px;
        background: url('../images/bg-footer-top-mobile.svg') no-repeat 100% top;
        position: absolute;
        top: -52px;
        z-index: 100;
    }
}