// section-1
.intro {
    @include box-size (80%);
    @extend %margin-lr;
    @extend %text-align-center;
    line-height: 1.5;
    margin-bottom: 7.3rem;

    &__title {
        @extend %heading;
        font-size: 1.5rem;
        margin-bottom: 1.4rem;
    }

    &__paragraph {
        // element??
        font-size: 14px;
        margin-bottom: 3rem;
    }

    &__button {
        margin-bottom: 6.2rem;
    }
}

// section-2
.statistics {
    @include box-size (50%);
    @extend %margin-lr;
    margin-bottom: 1.5rem;

    &__item:first-child {
        margin-bottom: 97px;
    }
}

// section-3
.workflow {
    display: flex;
    flex-direction: column;

    margin-bottom: 3.4rem;

    &::before {
        content: "";
        display: block;
        height: 7rem;
        background: url('../images/bg-section-top-mobile-1.svg') no-repeat 100% top;
    }
    &::after {
        content: "";
        display: block;
        height: 7rem;
        background: url('../images/bg-section-bottom-mobile-2.svg') no-repeat 100% top;
    }
}
.workflow__item {
    &:nth-child(1) {
        padding-top: 5.15rem;
        padding-bottom: 2.6rem;
    }
    &:nth-child(2) {
        &::before {
            content: "";
            display: block;
            height: 50px;
            background: url('../images/bg-section-bottom-mobile-1.svg') no-repeat 100% top;
        }
        .workflow__item {
            &-wrapper {
                margin-top: 8.7rem;
                margin-bottom: 7.3rem;
            }
            &-illustration {
                margin-bottom: 5.3rem
            }
        }
        &::after {
            content: "";
            display: block;
            height: 100px;
            background: url('../images/bg-section-top-mobile-2.svg') no-repeat 100% top;
        }
    }
    &:nth-child(3) {
        padding-top: 1.2rem;
        padding-bottom: 6.4rem;
    }
    &-wrapper {
        @include box-size (85%);
        @extend %margin-lr;
        @extend %text-align-center;
    }
}

// section-4
.cta {
    @include box-size (85%);
    @extend %margin-lr;
    @extend %text-align-center;
    margin-bottom: 15.7rem;
}

.info {
    &__paragraph {
        font-size: 14px;
        line-height: 1.5;
    }
}

// footer
.info {
    .logo {}

    &__paragraph:nth-of-type(1) {
        font-size: 14px; /* element?? */
        font-weight: 700;
        line-height: 1.6;
        margin-top: 0;
        margin-bottom: 2.68rem;
    }

    &__paragraph:nth-of-type(2), &__paragraph:nth-of-type(3){
        @include flex (row, no-wrap, flex-start, center);
        margin-top: 0;
        margin-bottom: 1.2rem;

        svg { margin-right: 1rem; }
    }

    &__paragraph:nth-of-type(3) {
        margin-bottom: 2.68rem;
    }
}

.newsletter {
    line-height: 1.5;

    &__subtitle {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 1.1rem;
    }

    &__paragraph {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 2.1rem;
    }

    &__form {
        @extend %text-align-right;
        &-input {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}