// section-1
.intro {
    @include box-size (80%);
    @extend %margin-lr;
    @extend %text-align-center;
    line-height: 1.5;
    margin-bottom: 7.3rem;

    &__title {
        @extend %heading;
        font-size: 1.5rem;
        margin-bottom: 1.4rem;

        @include desktop {
            font-size: 3rem;
        }
    }

    &__paragraph {
        // element??
        @extend %margin-lr;
        font-size: 14px;
        margin-bottom: 3rem;

        @include desktop {
            font-size: 1.25rem;
            @include box-size (55%);
        }
    }

    &__button {
        margin-bottom: 6.2rem;
    }

    &__illustration {
        width: 1020px;
        @extend %margin-lr;
    }
}

// section-2
.statistics {
    @include box-size (50%);
    @extend %margin-lr;
    margin-bottom: 1.5rem;

    display: flex;
    flex-direction: column;

    @include desktop {
        @include box-size (61%);
        flex-direction: row;
        justify-content: space-between;
    }

    &__item:first-child {
        margin-bottom: 97px;
    }
}

// section-3
.workflow {
    display: flex;
    flex-direction: column;

    margin-bottom: 3.4rem;

    &__wave {
        &:nth-child(1) {
            height: 7rem;
            background: url("../images/bg-section-top-mobile-1.svg") no-repeat 100% / 100% 100%;
        }
        &:nth-child(3) {
            height: 50px;
            background: url("../images/bg-section-bottom-mobile-1.svg") no-repeat 100% / 100% 100%;
        }
        &:nth-child(5) {
            height: 100px;
            background: url("../images/bg-section-top-mobile-2.svg") no-repeat 100% / 100% 100%;
        }
        &:nth-child(7) {
            height: 100px;
            background: url("../images/bg-section-bottom-mobile-2.svg") no-repeat 100% / 100% 100%;
        }
    }

    &__item {
        &:nth-child(2) {
            padding-top: 5.15rem;
            padding-bottom: 2.6rem;
            background-color: $very-pale-blue;
        }

        &:nth-child(4) {
            .workflow__item {
                &-wrapper {
                    margin-top: 8.7rem;
                    margin-bottom: 7.3rem;
                }

                &-illustration {
                    margin-bottom: 5.3rem
                }
            }
        }

        &:nth-child(6) {
            padding-top: 1.2rem;
            padding-bottom: 6.4rem;
            background-color: $very-pale-blue;
        }

        &-wrapper {
            @include box-size (85%);
            @extend %margin-lr;
            @extend %text-align-center;
        }
    }
}

// section-4
.cta {
    @include box-size (85%);
    @extend %margin-lr;
    margin-bottom: 15.7rem;
}