.navbar {
    @include flex (row, nowrap, space-between, center);
    @include box-size (85%, auto);
    pointer-events: none;
    
    &__logo {
        width: 6rem;

        img { vertical-align: middle; }
    }
}