.newsletter {
    line-height: 1.7;

    &__subtitle {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 14px;
    }

    &__paragraph {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    &__form {
        @extend %text-align-right;

        &-input {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}