.statistics__item {
    &-icon {
        margin: 0 0 4px 0;
        img {
            width: 30px;
        }
    }
    &-number {
        font-size: 3.8rem;
        margin: 0 0 14px 0;
        font-weight: 700;
    }
    &-caption {
        color: #808080;
        font-size: 14px;
    }
}